.border {
  border-top: 1px solid red;
  border-bottom: 2px solid green;
}
.div1 {
  color: red;
  border-top: 1px solid red;
  border-bottom: 2px solid green;
}
.div2 {
  color: green;
  border-top: 1px solid red;
  border-bottom: 2px solid green;
}
